
<nav class="bg-transparent">
    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between px-16">
      <a href="/" class="flex items-center py-4">
          <span class="self-center text-2xl font-bold whitespace-nowrap uppercase tracking-widest text-accent font-mono">detox</span>
      </a>
      
      <div class="block w-auto h-16" id="navbar-default">
        <ul class="h-full font-medium flex p-0 items-end">
          <li *ngFor="let option of options" class="h-12 flex items-end py-4 rounded-full rounded-b-none cursor-default" [ngClass]="this.route === option.link ? 'backdrop-brightness-150 text-accent px-20' : 'text-medium px-8'">
            <a (click)="navigate(option.link)" class="cursor-pointer hover:text-accent">{{option.title}}</a>
          </li>
          <li class="h-12 flex items-end py-4 px-5">
            <a class="text-accent cursor-pointer">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  