<div class="min-h-screen h-full w-full bg-dark flex flex-col justify-center">

    <div class="w-11/12 sm:w-[35rem] mx-auto text-left  backdrop-brightness-150 p-10 px-20 rounded-lg">
      <h1 class="text-3xl font-bold text-white" id="login-header">Prijava</h1>
  
      <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="flex flex-col gap-y-6 mt-10 mb-12 tracking-wide">
        <div class="w-full">
          <label class="block tracking-wide text-medium text-xs font-bold mb-1"
          for="login-email">
            E-Mail
          </label>
          <input class="input"
          [ngClass]="email && email.value ? 'border-light' : 'border-medium'"
          id="login-email" type="text" placeholder="Your E-Mail Address" autofocus="autofocus"
          formControlName="email"
          (input)="errorMessage = ''">
          <div class="h-1">
            <p *ngIf="email && email.invalid && email.touched"
              class="text-yellow-400 text-xs italic">
              <span *ngIf="email.errors?.['required']" id="email-required">
                Email je obavezan.
              </span>
              <span *ngIf="email.errors?.['pattern']" id="email-invalid">
                Email nije validan.
              </span>
            </p>
          </div>
        </div>
  
        <div class="w-full">
          <label class="block tracking-wide text-medium text-xs font-bold mb-1"
          for="login-password">
            Lozinka
          </label>
          <input class="input"
          [ngClass]="password && password.value ? 'border-light' : 'border-medium'"
          id="login-password" type="password" placeholder="Your Password" formControlName="password"
          (input)="errorMessage = ''">
          <div class="h-1">
            <p *ngIf="password && password.invalid && password.touched"
              class="text-yellow-400 text-xs italic">
              <span *ngIf="password.errors?.['required']" id="password-required">
                Lozinka je obavezna.
              </span>
            </p>
          </div>
        </div>
        
      </div>
      <div class="w-full flex justify-end">
        <button type="submit" class="main-button" id="login-button">
          PRIJAVI SE
        </button>
      </div>
      <div class="h-1">
        <p *ngIf="errorMessage"
        class="text-red-400 italic text-center">
          <span>
            {{ errorMessage }}
          </span>
        </p>
      </div>
  
    </form>
  </div>