@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.main-button {
  @apply rounded p-3 px-7 bg-accent active:bg-accent-dark text-white font-medium tracking-wide
}

.secondary-button {
  @apply rounded p-3 px-7 bg-dark active:brightness-90 text-sm font-medium text-accent tracking-wide
}

.input {
  @apply appearance-none block w-full text-white tracking-wide placeholder-medium caret-medium border-b focus:border-accent bg-transparent leading-tight outline-none py-1 duration-300
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgba(61, 60, 65, var(--tw-bg-opacity));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* selection */
::-moz-selection { /* Code for Firefox */
  color: rgb(61, 60, 65);
  background: rgb(147, 149, 155);
}

::selection {
  color: rgb(61, 60, 65);
  background: rgb(147, 149, 155);
}
